html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 4000;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-image: url(images/image1.png);
    height: 100%;
   

}
.pimg2{
    background-image: url(images/image2.png);
    height: 400px;
   

}
.pimg3{
    background-image: url(images/image3.png);
    height: 400px;
   

}
.pimg1,.pimg2,.pimg3{
    position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    /* color: rgb(216, 68, 68); */
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase

}
.textbg{
    background: black;
    color: #fff;
    padding: 10px;
}
.section{
    text-align: center;
    padding: 50px 150px;
}
.section_light{
    background-color: #fff;
    color:grey;
}
.section_dark{
    background-color: black;
    color: white;

}
.section_darker{
    background-color: aliceblue;
    color: rgb(20, 36, 31);
}